#projects{
    width: 100vw;
    color: white;
    margin-top: 5vh;
}

#projectsHeader{
    display: flex;
    flex-direction: column;
}

#projectsTitle{
    font-size: 3em;
}

#shortcutMenu{
    margin: auto;
    display: flex;
    margin-top: 4vh;
}

#iconDiv{
    flex: 1;
    display: flex;
}

.icons{
    flex: 1;
    border: solid 1px black;
    height: 37px;
    width: 37px;
    line-height: 37px;
    vertical-align: middle;
    font-size: 16px;
    background-color: #4a738a;
}

.icons:hover{
    background-color: white;
    color: black;
}

.icons.active{
    background-color: rgb(56, 54, 54);
}

.icons.active:hover{
    color: black;
    background-color: white;
}

#projectDivs{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 3vh;
}
