#wrapper{
    margin: auto;
    align-content: center;
    justify-content: middle;
    display: flex;
    flex-direction: column;
    background-color: rgba(46, 46, 46, 0.788);
    color: white;
}

.projects{
    margin: 50px auto;
    display: flex;
    background-color: rgb(24, 24, 24);
}

.projectImg {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
   margin: 50px;

}

.projectImg:hover {
    opacity: 0.6;
}

/* .hoverText {
    visibility: hidden;
    opacity: 0;
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.projectImg:hover .hoverText {
    opacity: 1;
    visibility: visible;
    background-color: yellow;
} */
