#sidebar{
    flex: 1;
    width: 15vw;
    display: flex;
    flex-direction: row;
    /* align-items: start; */
    align-items: center;
}

#sidebarMenu{
    opacity: 0.5;
    background-color: rgb(116, 140, 212);
    padding: 30px;
}

.itemImg{
    height: 10vh;
}