#projectPage{
    /* background-color: red;
    height: 600px;
    width: 600px;
    position: absolute; */
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    max-height: 60vh;
    min-height: 60vh;
    border: solid 3px #344650;
    
   
    
}

#leftPageDiv{
    flex: 1;
    display: flex;
    
    flex-direction: column;
    background-color: #4b6574;
    min-width: 40vw;

   
}

#projectPageName{
    flex: 1;
    font-size: 2em;
    color: white;
    border-bottom: solid 2px #344650;
}

#projectPageTech{
    flex: 1;
    font-size: 1em;
    color: white;
    border-bottom: solid 2px #344650;
}
#projectPageInfo{
    flex: 1;
    font-size: 1em;
    color: white;
    border-bottom: solid 2px #344650;
    
}

#projectPageLinks{
flex: 1;
font-size: 1em;
color: white;
}



#rightPageDiv{
    flex: 1;
    min-width: 40vw;

    background-color: #3b5e79;
    
    
}

#slideshow{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
   margin-top: 8vh;
   
}


#projectImg{
    flex: 1;
    height: 300px;
    width: 300px;
  border: solid 3px rgb(11, 32, 78);

   
}

#arrow{
    height: 5vh;
    flex: 1;
    padding: 50px;
}

.pagination{
    flex: 1;
    height: 20px;
    max-width: 20px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: solid 0.7px black;
    border-radius: 50%;
}
.pagination.active{
    background-color: black;
    transform:scale(1.5)
}

#pagination{
    max-width: 10vw;
    margin: 0 auto;
    align-content: middle;
    display: flex;
    flex-direction: row;
}

