#projectPage{
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    margin: 20px auto;
    /* font-size: 14px; */
}



#leftContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
}


#rightContainer{
    flex: 2;
    background-color: black;
    color: white;
    max-height: 60vh;
    margin-left: 50px;
}

#slideshow{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

.projectImg{
    flex: 1;
    height: 40vh;
    max-width: 33vw;
    margin: auto;
    border: solid 3px rgb(11, 32, 78);
}

#arrow{
    height: 5vh;
    flex: 1;
    padding: 15px;
}

.pagination{
    flex: 1;
    height: 20px;
    max-width: 20px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: solid 0.7px black;
    border-radius: 50%;
}
.pagination.active{
    background-color: black;
    transform:scale(1.2)
}

#pagination{
    max-width: 10vw;
    margin: 0 auto;
    align-content: middle;
    display: flex;
    flex-direction: row;
}

#collapseDiv{
    height: 100px;
    width: 200px;
}

#projectTitle{
    font-size: 1.6em;
    font-weight: bold;
}
.accordion{
    /* background-color: rgba(35, 133, 199, 0.603); */
    font-size: 1.4em;
    color: white;
}

.accordionDiv{
    background-color: rgb(245, 245, 245);
    font-size: 0.7em;
    padding: 6px;
    margin-top: 10px;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
}

.react-sanfona-item{
    /* border: solid 1px black; */
    padding: 15px 0 15px 0;
}