/* Get rid of margin-tops: space between should work */
#bioContainer{
    color: white;
    width: 50vw;
    font-family: 'Hind Guntur', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title{
    flex: 1;
    font-size: 10vh;
    margin-top: 10vh;
    font-family: 'Dancing Script', cursive;
    display: flex;
}

#triangle{
    flex: 1;
}

#triangleImg{
    height: 15vh;
    float: left;
    margin-left: 30px;
}

#triangleImg:hover{
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

#name{
    flex: 5;
    margin-top: 20px;
    margin-right: 10px;
}

#name:hover{
    font-style: italic;
}

#bio{
    margin-top: 55px; 
    flex: 1;
    font-size: 1.7vh;
}

#profilePic{
    height: 20vh;
    border-radius: 100%;
    margin-top: 55px; 
}

#profilePic:hover{
    border: solid 2px #83adef;
}

