/* Get rid of margin-tops: space between should work */
#bioContainer{
    margin-top: 10vh;
    color: white;
    width: 50vw;
    font-family: 'Hind Guntur', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
}

#bio{
    /* margin-top: 7vh; */
    flex: 1;
    font-size: 1.7vh;
}

#profilePic{
    height: 20vh;
    border-radius: 100%;
    /* margin-top: 55px;  */
    transition: .2s;
    border: solid 2px rgba(0,0,0,0)
}

#profilePic:hover{
    border-color:  #83adef;
}

