.project{
    /* border: 2px solid rgb(143, 143, 87); */
    flex: 1;
    overflow-y: hidden;
    /* min-width:19vw; */
   /* width: 300px;  */
}

.projectName{
    font-size: 30px;
    padding: 20px;
}
.popup {
    top:40px;
    width: 500px;
    position: relative;
    margin: auto;
}
.projectContent{
    position: relative;
    transition:.2s;
    margin: 0 auto;
}
.project:hover .projectContent{
    height: 145px; /* Changes where the popup rises to */

}

.project:hover .projectImg{
    opacity: 0.5;
    border: solid 1px black;
}
.project:hover .popup{
    top:0px;
    background-color: rgb(0, 0, 0);
    height: 50px;
    line-height: 50px;
    color: white;
}

.popupText:hover{
    font-weight: bold;
}
.projectImg{
    height: auto;
    width: 500px;
}

