.project{
    width: 25vw;
    margin: 50px;
    font-weight: bold;
}


.projectTitle{
    font-size: 24px;
    border-bottom: solid 1px white;
    padding: 20px;
}

.projectInfo{
    margin-top: 50px;
    font-size: 14px;
}


.githubImg{
    height: 80px;
    margin: auto;
}

.tech{
    font-size: 12px;
}