.project{
    /* display: flex;  */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    border: 2px solid rgb(143, 143, 87);
    flex: 1;
    overflow-y: hidden;
    min-width:19vw;
    max-width: 19vw;
}
.popup {
    top:40px;
    position: relative;
}
.projectContent{
    position: relative;
    height:180px;
    width: 180px;
    transition:.2s;
    margin: 0 auto;
}
.project:hover .projectContent{
    height:80px; /* Changes where the popup rises to! */
}
.project:hover .popup{
    top:0px;
    background-color: rgb(80, 80, 238);
    height: 50px;
    line-height: 50px;
    color: white;
}

.popupText:hover{
    font-weight: bold;
}
.projectImg{
    height: 180px;
    width: 180px;
}

