#headerDiv{
    flex: 3;
   
    display: flex;
    color: white;
    justify-content: center;
    align-content: center;
    margin-top: 3vh;
    font-weight: 700;


}

#triangle{
    flex: 1;
}

#triangleImg{
    height: 13vh;
    transition: .2s;
}

#triangleImg:hover{
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    transform-origin: 50% 64% ;
}

#name{
    flex: 2;
    font-size: 4em;
    color: #224e69;
}

#name:hover{
    color: #2f5d72;
}
