#navbar{
    flex: 1;
    max-height: 10vh;
    width: 50vw;
    /* background-color: rgba(101, 118, 173, 0.26); */
    border-top: 3px solid rgb(168, 164, 164);
    align-items: center;
    text-transform: uppercase;
    font-size: 2.2vh;
    display: flex;
}



.link:hover{
    
    background-color: #344c72;
    padding: 20px;
}

.link{
    flex: 1;
    color: white;
}

