#navbar{
    display: flex;
    background-color: black;
}

#titleDiv{
    flex: 3;
    color: white;
    text-align: left;

    
}

#navMenu{
    flex: 1;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8em;
    display: flex;
    color: white;
    font-weight: 700;
    text-decoration: none;
    max-height: 10vh;
}

#name{
    flex: 2;
    font-size: 3em;
    color: #224e69;
    margin-left: 30px;
}

#navMenu > div{
    cursor: pointer;
    flex: 1;
    border-bottom: solid 4px rgba(0,0,0,0);
}

#navMenu a {
    text-decoration: none;
    color: white;
}

#navMenu a:active{
    color: rgb(26, 23, 201);
}

#navMenu > div:hover{
    border-bottom: solid 4px rgb(50, 119, 146);
}

#navMenu > div > span{
    font-size: 1em;
    /* margin: 5px; */
}

#res a {
    text-decoration: none;
    color: white;
}

