#navbar{
    flex: 1;
    /* max-height: 10vh; */
    /* width: 50vw; */
    /* background-color: rgba(101, 118, 173, 0.26); */
    /* border-bottom: 3px solid rgb(168, 164, 164); */
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5vh;
    display: flex;
    color: white;
    cursor: pointer;
    
    /* text-align: center; */
    /* max-width: 25vw;
    overflow: wrap; */
}

#navbar > div{
    flex: 1;
    border-bottom: solid 4px rgba(0,0,0,0);
}

/* #navbar > div:not(:last-child){
    border-right: solid 1px white ; 
     border-bottom: solid 1px  
}*/


#navbar > div:hover{
    border-bottom: solid 4px rgb(50, 119, 146);
    
}

#navbar > div > span{
    font-size: 1em;
    margin: 5px;
}

