#App {
  text-align: center;
  max-width:100vw;
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
}

#pageContent{
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
}

#backgroundImg{
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background:  linear-gradient(to bottom, rgb(71, 151, 204), rgb(230, 153, 53));
}

#backgroundImg:after{
  background: url('./background.png'); 
  content: '';
  background-size: cover;
  position: absolute;
  opacity: .5;
  top:0;
  bottom:0;
  left: 0;
  right:0;
}

 /* For mobile phones: 
@media only screen and (max-width: 600px) {

}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
  .example {background: orange;}
}  */


